{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
  <div class="container">
    <h1>About Us</h1>
    <p>Welcome to our Password Manager Revamp application. We provide a secure and convenient solution for storing and managing your passwords.</p>
    <p>With our Password Manager, you can:</p>
    <ul style="list-style-type: none;">
      <li>Securely store your passwords</li>
      <li>Generate strong and unique passwords</li>
      <li>Organize and categorize your passwords</li>
      <li>Access your passwords from anywhere</li>
      <li>And much more...</li>
    </ul>
    <p>Feel free to explore our application and experience the convenience and peace of mind that comes with using our Password Manager.</p>
  </div>
{% endblock %}
