{% extends "base.html" %}
{% load static %}

{% block title %}Password Manager Revamp{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-3">Password Manager Revamp</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            {% if item %}
              <tr>
                <td>{{ item.vault_item_website }}</td>
                <td>{{ item.vault_item_username }}</td>
                <td>
                  <div class="password-container">
                    <span
                      onclick="togglePasswordVisibility({{ item.id }})"
                      id="password{{ item.id }}"
                      class="password-hidden"
                      data-password="{{ item.vault_item_password }}"
                    >
                      ******
                    </span>
                    <br>
                    <button
                      type="button"
                      class="btn btn-sm btn-secondary copy-password-button"
                      id="copyButton{{ item.id }}"
                      onclick="copyPasswordToClipboard({{ item.id }})"
                    >
                      Copy
                    </button>
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-toggle="modal"
                    data-target="#confirmDeleteModal{{ item.id }}"
                  >
                    Delete
                  </button>
                </td>
              </tr>

              <!-- Modal -->
              <div
                class="modal fade"
                id="confirmDeleteModal{{ item.id }}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="confirmDeleteModalLabel{{ item.id }}"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmDeleteModalLabel{{ item.id }}">
                        Confirm Delete
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete <strong>{{ item.vault_item_website }}</strong> vault item?</p>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Cancel
                      </button>
                      <form id="deleteForm{{ item.id }}" action="{% url 'delete_vault_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <a href="{% url 'create_new_item' %}">
      <button type="button" class="btn btn-primary btn-plus">Add item</button>
    </a>
  </div>
</div>

{% endblock %}
