{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Password Manager</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Your Password Manager</h1>
      <p>Securely store and manage your passwords</p>
      <a href="/login" class="btn btn-primary btn-lg">Login</a>
      <a href="/signup" class="btn btn-secondary btn-lg">Sign Up</a>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
