{% extends "base.html" %}
{% block title %}Delete Vault Item{% endblock %}

{% block content %}
<div class="container col-lg-8 col-md-10">
    <div class="mx-auto justify-content-center">
        <h4 class="header-style header-title-color">Delete Vault Item</h4>
        <div class="post-color mb-2 pl-2 pt-1 pb-1 rounded">
            {% if user.is_authenticated %}
                {% if user == vault_item.vault_item_user %}
                    <h4>Vault Item - {{ vault_item.vault_item_website }}</h4>
                    <div class="form-group">
                        <form method="POST" class="mt-4">
                            {% csrf_token %}
                            <strong>Are you sure?</strong>
                            <br>
                            <a href="{% url 'index' %}" class="btn btn-secondary btn-border-none" aria-label="Go back to list">Cancel</a>
                            <button type="submit" class="btn btn-danger" aria-label="Delete vault item">Delete</button>
                        </form>
                    </div>
                {% else %}
                    <h4>You do not have permission to delete this vault item</h4>
                {% endif %}
            {% else %}
                <h4>You are not logged in</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
