<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}
  
    {% comment %} {% if user.is_authenticated %}
      <!-- Sidebar visible for authenticated user -->
      <aside class="sidebar">
        <!-- Sidebar content here -->
      </aside>
    {% endif %} {% endcomment %}
  
    <main class="container mt-4">
      {% block content %}
      {% endblock %}
    </main>
    {% include 'footer.html'%}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
