<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Password Manager Revamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="btn btn-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-link" href="/about">About</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-link" href="/accounts/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <form action="{% url 'account_login' %}">
              {% csrf_token%}
              <button type="submit" id="btn-login" class="btn btn-primary mr-1">Login</button>
            </form>
          </li>
          <li class="nav-item">
            <form action="{% url 'account_signup' %}">
              {% csrf_token%}
              <button type="submit"  class="btn btn-secondary">Register</button>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
